.zebrands-navbar {
  background-color: #f8f9fa;
  padding: 10px 20px;
  border-bottom: 2px solid #e0e0e0;
}

.nav-link {
  font-family: Helvetica, sans-serif;
  font-size: 14px !important;
  font-weight: 600 !important;
  text-transform: uppercase;
  color: #231f20 !important;
}

.zebrands-nav-link:hover {
  color: #000;
}